.logout_button {
  display: flex;
  justify-content: center;
  align-items: center;
};

@media screen and (max-width: 1200px) {
  .logout_button {
    right: 5%;
    bottom: 5%;
    position: absolute;
    translate: -50% -50%;
  }
};
