.welcome_text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  text-align: center;
  padding: 0 50px;
}

@media screen and (max-width: 550px) {
  .welcome_text {
    font-size: 2em;
  }
}
