.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 40px;
  background-color: #00a884;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: #0a856b;
  }
}
